container_commands:
  01_makemigrations:
    command: "python3 manage.py makemigrations"
    leader_only: true
  02_makemigrations:
    command: "python3 manage.py migrate"
    leader_only: true
  03_compilemessages:
    command: "python3 manage.py compilemessages"
  04_createsu:
    command: "python3 manage.py createsu"
    
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application