{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
      {% block page_title %}{% endblock page_title %}
      | AwesomeBnB</title>
  </head>

  <body class="text-gray-800 mt-24 font-light">
    {% include "partials/messages.html" %}

    {% block header %}{% endblock header %}

    {% block contents %}{% endblock contents %}

    {% include "partials/footer.html" %}
  </body>

</html>
